/* Reset */
.attendance-page *{
margin:0;
padding:0;
box-sizing:border-box;
}


/* Page Background */
.attendance-page{
background:linear-gradient(180deg,#f4f6f9,#e9edf3);
min-height:calc(100vh - 60px);
padding:40px;
}


/* Attendance Header */
.attendance-header{
background:#3f8efc;
color:white;
text-align:center;

padding:6px;
font-size:18px;
font-weight:600;

border-radius:8px;
width:100%;
}


/* Main Card */
.attendance-main{

margin:60px auto;

background:white;
padding:50px;

border-radius:12px;

box-shadow:0 6px 18px rgba(0,0,0,0.08);

width:600px;

text-align:center;

display:flex;
flex-direction:column;
gap:25px;
}


/* Punch details row */
.attendance-info{
display:flex;
justify-content:space-between;
}


/* Working hours */
.attendance-hours{
font-weight:600;
}


/* Buttons row */
.attendance-buttons{
display:flex;
justify-content:center;
gap:40px;
margin-top:10px;
}


/* Buttons */
.attendance-buttons button{

padding:10px 25px;

border:none;
border-radius:6px;

font-size:15px;
cursor:pointer;

background:#4CAF50;
color:white;

transition:0.3s;
}


/* Punch Out button */
.attendance-buttons form:last-child button{
background:#ff5252;
}


/* Hover */
.attendance-buttons button:hover{
transform:scale(1.05);
}