{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body{
            margin:0;
            font-family:Arial;
            background:#b3e5fc;
        }
        .top-right{
            position:absolute;
            top:20px;
            right:20px 
        }
        button{
            padding:10px 25px;
            border:none;
            border-radius:20px;
            cursor:pointer;
            font-size:16px;
        }
    </style>
</head>
<body>

{% if request.session.user_id %}
    <!-- AFTER LOGIN -->
    <div class="top-right">
        <a href="{% url 'logout' %}">
            <button>Logout</button>
        </a>
    </div>
    <h1 style="text-align:center;margin-top:150px;">Welcome! You are sucurely logged in</h1>

{% else %}
    <!-- BEFORE LOGIN -->
    <h1 style="text-align:center;margin-top:150px;">Welcome</h1>

    <div style="text-align:center;">
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>
        
    </div>
{% endif %}

</body>
</html>
